@media screen and (min-width: 980px) {
.background{
    background-image: url(gravel.png);
    z-index: -10;
    width: 100%;
    position: absolute;
    margin: auto;
}
.wrapper {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #cccccc;
    z-index: -10;
    background-color: #ffffff;
    margin-bottom: 30px;
    overflow: auto;
}

.titlebar {
    width: 960px;
    margin: auto;
    background-color: #ffffff;
}

.box {
    width: 175px;
    height: 100px;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    float: left;
    padding-top: 10px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    float: right;
    bottom: -35px;
    color: #cccccc;
    position: relative;
}

.bar {
    text-decoration: none;
    color: #cccccc

}

.content {
    margin:auto;
    width: 960px;
    height: 1160px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    padding: 10px;
    z-index: -1;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left:25px;
}

.line {
    width: 95%;
    height: 2px;;
    background-color: #cccccc;
    z-index: 100;
    position: relative;
    margin: auto;
    top: -10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
}

.image1 {
  z-index: 5;
  float: left;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  bottom: 50px;
}

.image2 {
    z-index: 5;
    float: right;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    bottom: 50px;  
    left: -275px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.image3 {
    z-index: 5;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    top: -100px;
}

.image4 {
    z-index: 5;
    float: right;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    top: -100px;
    bottom: 50px;  
    left: -275px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.image5 {
    z-index: 5;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    bottom: 150px;
}

.caption {
    width: 300px;
    height: 50px;
    background-color: #4aaaa5;
    color: #ffffff;
    z-index: 10;
    position: relative;
    bottom: -175px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
}

footer {
    background-color: #666666;
    color: white;
    text-align: center;
    height: 30px;
    border-top: 10px solid #4aaaa5;
    margin-top: 30px;
    padding-top: 10px;
}
}

@media screen and (min-width: 786px) {
    .background{
        background-image: url(gravel.png);
        z-index: -10;
        width: 100%;
        position: absolute;
        margin: auto;
    }
    .wrapper {
        width: 100%;
        height: 100px;
        border-bottom: 2px solid #cccccc;
        z-index: -10;
        background-color: #ffffff;
        margin-bottom: 30px;
        overflow: auto;
    }
    
    .titlebar {
        width: 786px;
        margin: auto;
        background-color: #ffffff;
    }
    
    .box {
        width: 175px;
        height: 100px;
        color: white;
        background-color: #4aaaa5;
        text-align: center;
        z-index: 1;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        float: left;
        padding-top: 10px;
    }
    
    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #ffffff;
        float: right;
        bottom: -35px;
        color: #cccccc;
        position: relative;
    }
    
    .bar {
        text-decoration: none;
        color: #cccccc
    
    }
    
    .content {
        margin:auto;
        width: 786px;
        height: 1160px;
        background-color: #ffffff;
        border: 2px solid #cccccc;
        padding: 10px;
        z-index: -1;
    }
    
    h1 {
        color: #4aaaa5;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-left:25px;
    }
    
    .line {
        width: 95%;
        height: 2px;;
        background-color: #cccccc;
        z-index: 100;
        position: relative;
        margin: auto;
        top: -10px;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .image1 {
      z-index: 5;
      float: left;
      padding-left: 25px;
      padding-right: 25px;
      position: relative;
      bottom: 50px;
    }
    
    .image2 {
        z-index: 5;
        float: right;
        padding-left: 25px;
        padding-right: 25px;
        position: relative;
        bottom: 50px;  
        left: -275px;
    }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .image3 {
        z-index: 5;
        float: left;
        padding-left: 25px;
        padding-right: 25px;
        position: relative;
        top: -100px;
    }
    
    .image4 {
        z-index: 5;
        float: right;
        padding-left: 25px;
        padding-right: 25px;
        position: relative;
        top: -100px;
        bottom: 50px;  
        left: -275px;
    }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .image5 {
        z-index: 5;
        float: left;
        padding-left: 25px;
        padding-right: 25px;
        position: relative;
        bottom: 150px;
    }
    
    .caption {
        width: 300px;
        height: 50px;
        background-color: #4aaaa5;
        color: #ffffff;
        z-index: 10;
        position: relative;
        bottom: -175px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding-top: 25px;
        font-size: 25px;
    }
    
    footer {
        background-color: #666666;
        color: white;
        text-align: center;
        height: 30px;
        border-top: 10px solid #4aaaa5;
        margin-top: 30px;
        padding-top: 10px;
    }
    }